@model AccountTypeModel

@{
    ViewData["Title"] = "Create Account";
}

<h1>Create Account Type</h1>
<h5>The type of account refers to how we can group them, for example: debit, credit card, etc.</h5>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" name="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>

</form>